* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
body {
    background-color: #151727;
    color: #fff;
    line-height: 1.5rem;
    min-height: 100%;
}
.task__title {
    padding: 1rem;
}
.task__title input {
    margin-right: 2rem;
}
main {
    max-width: 64rem;
    margin: 0 auto;
    padding: 1rem;
}
.taskCard {
    background-color: #232738;
    margin-top: 15px;
    border: 1px solid #3d3f56;
    border-radius: .5rem;
    overflow: hidden;
}
.taskCard .task__description {
    line-height: 2rem;
    margin: 2rem 0;
    padding-left: 4rem;
}
.taskCard .date__created {
    font-size: .75rem;
    text-transform: capitalize;
    font-style: italic;
    opacity: .5;
    margin-left: 4rem;
}
.taskCard .date__due {
    font-size: .75rem;
    color: #7194ab;
    padding-left: 4rem;
}
.taskCard i {
    margin-right: 1rem;
    font-size: 1rem;
}
.taskCard .img__container {
    width: 100%;
    height: 12rem;
    overflow: hidden;
}
.taskCard .card__body {
    padding: 2rem;
    position: relative;
}
.taskCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.taskLate .card__body::after,
.taskCompleted .card__body::after {
    display: block;
    content: '';
    width: 8px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.taskLate .card__body::after {
    background-color: lightcoral;
}
.taskCompleted .card__body::after {
    background-color: lightgreen;
}
.taskLate .date__due i{
    color: lightcoral;
}
.taskCompleted .date__due i{
    color: lightgreen;
}